@import "../../CSSstyle/variable";
thead {
    .thead-img {
        width: 180px;
    }
}

tbody {
    tr::after {
        content: "";
        width: 68%;
        height: 1.5px;
        background-color: $gray-s;
        position: absolute;
        bottom: 30px;
        left: 16%;
    }
    .cart-products {
        height: 130px;
        position: relative;
    }
    .cart-img {
        width: 120px;
        height: 72px;
    }

    .delete-btn {
        font-size: 25px;
    }
}
