@import "../../CSSstyle/variable";

body {
    .main-down {
        .cart-table {
            color: $bgc-white;
            border-bottom: $gray-xs;

            thead {
                height: 55px;
                font-size: $h5;
                background-color: $bgc-white;
                border-bottom: $gray-xs;
                border-bottom: solid;
                border-width: 1px;
            }
        }

        tbody {
            .cart-products {
                height: 130px;
                position: relative;
            }
            .cart-img {
                width: 120px;
                height: 72px;
            }

            tr::after {
                content: "";
                width: 95%;
                height: 2px;
                background-color: $gray-xs;
                position: absolute;
                bottom: 9%;
                left: 3%;
            }
            tr:last-child::after {
                content: "";
                width: 0;
                height: 0;
                background-color: $gray-xs;
                position: absolute;
                bottom: 9%;
                left: 17.5%;
            }
        }
        .info-area {
            padding: 25px 48px;
            .info {
                padding: 16px 34px;
            }
        }
    }
}
