@import "../../CSSstyle/variable";

body {
    img {
        display: block;
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    nav {
        background-color: $bgc-gray-l;
        .logo {
            position: absolute;
            left: 40px;
            top: 50%;
            width: 88px;
            height: 88px;

            @media (max-width: 576px) {
                height: 60px;
                width: 60px;
            }
        }
    }
    main {
        background-color: $bgc-gray-l;

        //結帳進度條樣式
        .progress-style {
            padding: 91px 0px 28px 0px;

            .quarter-round {
                width: 25%;
                display: flex;
                align-items: center;
                padding: 0% 6%;

                .round {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .qr-circle-style {
                        width: 69.5px;
                        height: 69.5px;
                        background-color: $gray-xs;
                        border-radius: 50%;
                        border-color: $gray-s;
                        border-width: 3px;
                        border-style: solid;
                        color: $gray-s;
                        font-size: $h6 * 2.35;
                        text-align: center;
                        line-height: 60px;
                    }

                    .qr-circle-style::before {
                        width: 75%;
                        height: 4px;
                        background-color: $green-l;
                        border-radius: 30px;
                        content: "";
                        position: absolute;
                        right: 110%;
                        top: 50%;
                    }

                    .qr-circle-no-line {
                        width: 69.5px;
                        height: 69.5px;
                        background-color: $gray-l;
                        border-radius: 50%;
                        border-color: $gray-s;
                        border-width: 2px;
                        border-style: solid;
                        color: $gray-s;
                        font-size: $h6 * 2.35;
                        text-align: center;
                        line-height: 60px;
                    }
                    .qr-line {
                        content: "";
                    }
                    .qr-line::after {
                        width: 75%;
                        height: 4px;
                        border-radius: 30px;
                        background-color: $green-d;
                        content: "";
                        position: absolute;
                        left: 107%;
                        top: 50%;
                    }

                    .round-active {
                        background-color: $gray;
                        color: $gray-xxs;
                        border-color: $green-d;
                    }

                    @media (max-width: 770px) {
                        .qr-circle-style,
                        .qr-circle-no-line {
                            width: 46px;
                            height: 46px;
                            font-size: $h4;
                            line-height: 40px;
                        }
                    }
                }
            }

            .round-text {
                color: $green-l;
                font-size: $h4;
                padding: 0px 3%;
            }

            .active {
                color: $green-d;
            }
            .mr_1 {
                margin-left: 8px;
            }
            .mr_2 {
                margin-right: 12px;
            }
            .mr_3 {
                margin-right: 22px;
            }
            .mr_4 {
                margin-left: 12px;
                margin-right: 18px;
            }
            @media (max-width: 770px) {
                .round-text {
                    font-size: $h5;
                    padding: 0;
                }
                .mr_1 {
                    margin-right: 10px;
                }
            }
            @media (max-width: 576px) {
                .round-text {
                    font-size: $h6;
                }
                .mr_1 {
                    margin-right: 12px;
                }
                .mr_2 {
                    margin-right: 18px;
                }
            }
        }
        .main-down {
            background-color: $bgc-gray-d;
            padding: 68px 14%;

            //表單樣式
            .cart-table {
                background-color: $bgc-white;
                font-size: $h5;
                color: $gray-xxl;
                text-align: center;
                border-radius: 8px 8px 0px 0px;

                .table-head {
                    line-height: 90px;
                    background-color: $green-d;
                    font-size: $h4;
                    color: $gray-xxs;
                    font-weight: 100;
                }

                .table-bottom {
                    height: 55.5px;
                    background-color: $green-d;
                    padding: 30px 2.5%;
                }

                .cart-products {
                    height: 130px;
                    position: relative;
                }
            }
            .cart-count {
                height: 244px;
                font-size: $h5;
                color: $green-d;
                background-color: $bgc-white;
                padding: 28px 38px;
                .count-up {
                    width: 326px;
                    margin-bottom: 10px;
                }
                .count-down {
                    width: 326px;
                    margin-bottom: 10px;
                }
                .count-up::after {
                    content: " ";
                    width: 326px;
                    height: 1px;
                    background-color: $gray-s;
                    position: absolute;
                    right: 18%;
                }
            }
            .form-middle {
                height: 68px;
                background-color: $green-d;
                font-size: $h4;
                color: $gray-xxs;
            }
            .from-bottom {
                height: 68px;
                background-color: $green-d;
                border-radius: 0px 0px 8px 8px;
            }

            // 按鈕樣式
            .btn-pd {
                margin: 35px 33px 85px 33px;

                .back-btn {
                    border: $green-d 1px solid;
                    padding: 12px 15px;
                }
                .next-btn {
                    background-color: $green-d;
                    color: $gray-xxs;
                    padding: 12px 15px;
                }
            }
        }
    }
}
