.cart-table {
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
}
.cart-table thead {
    font-size: 26px;
    font-weight: 200;
}
.thead-img{
    width: 180px;
}
.cart-table .cart-img {
    width: 120px;
    height: 72px;
}
.cart-table tbody tr::after {
    content: "";
    width: 95%;
    height: 2px;
    background-color: #cbcbcb;
    position: absolute;
    bottom: 0%;
    left: 2.5%;
}

.delete-btn {
    font-size: 25px;
}
