h1, h2, h3, h4, h5, h6, title-h1, title-h2 {
  margin: 0;
  font-family: "Noto Serif JP", "Noto Serif TC";
  color: #181818;
}

title-h1 {
  line-height: 134.375px;
}

title-h2 {
  line-height: 99.975px;
}

body nav {
  background-color: #f4f3ef;
}

body nav .logo {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 88px;
  height: 88px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 576px) {
  body nav .logo {
    height: 60px;
    width: 60px;
  }
}

body main {
  background-color: #f4f3ef;
}

body main .progress-style {
  padding: 91px 0px 28px 0px;
}

body main .progress-style .quarter-round {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 6%;
}

body main .progress-style .quarter-round .round {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body main .progress-style .quarter-round .round .roundcircle-style {
  width: 69.5px;
  height: 69.5px;
  background-color: #e5e5e5;
  border-radius: 50%;
  border-color: #929292;
  border-width: 3px;
  border-style: solid;
  color: #929292;
  font-size: 28.2px;
  text-align: center;
  line-height: 60px;
}

body main .progress-style .quarter-round .round .roundcircle-style::before {
  width: 75%;
  height: 4px;
  background-color: #54594d8f;
  border-radius: 30px;
  content: "";
  position: absolute;
  right: 110%;
  top: 50%;
}

body main .progress-style .quarter-round .round .roundcircle-style-line {
  width: 69.5px;
  height: 69.5px;
  background-color: #e5e5e5;
  border-radius: 50%;
  border-color: #929292;
  border-width: 2px;
  border-style: solid;
  color: #929292;
  font-size: 28.2px;
  text-align: center;
  line-height: 60px;
}

body main .progress-style .quarter-round .round .roundcircle-style-line::before {
  width: 75%;
  height: 4px;
  background-color: #54594d8f;
  border-radius: 30px;
  content: "";
  position: absolute;
  left: 108%;
  top: 50%;
}

body main .progress-style .quarter-round .round .round-active {
  background-color: #666666;
  color: #f1f1f1;
  border-color: #54594d;
}

body main .progress-style .quarter-round .round .active {
  color: #54594d;
}

@media (max-width: 770px) {
  body main .progress-style .quarter-round .round .roundcircle-style,
  body main .progress-style .quarter-round .round .roundcircle-style-line {
    width: 46px;
    height: 46px;
    font-size: 19.44px;
    line-height: 40px;
  }
}

body main .progress-style .round-text {
  color: #54594d8f;
  font-size: 19.44px;
  padding: 0px 3%;
}

body main .progress-style .mr_1 {
  margin-left: 8px;
}

body main .progress-style .mr_2 {
  margin-right: 12px;
}

body main .progress-style .mr_3 {
  margin-right: 22px;
}

body main .progress-style .mr_4 {
  margin-left: 12px;
  margin-right: 18px;
}

@media (max-width: 770px) {
  body main .progress-style .round-text {
    font-size: 13.8px;
    padding: 0;
  }
  body main .progress-style .mr_1 {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  body main .progress-style .round-text {
    font-size: 12px;
  }
  body main .progress-style .mr_1 {
    margin-right: 12px;
  }
  body main .progress-style .mr_2 {
    margin-right: 18px;
  }
}

body main .main-down {
  background-color: #e6e3e0;
  padding: 68px 14%;
}

body main .main-down .cart-table {
  background-color: #fffbef;
  font-size: 13.8px;
  color: #181818;
  text-align: center;
  border-radius: 8px 0px 0px 8px;
}

body main .main-down .cart-table .table-head {
  line-height: 90px;
  background-color: #54594d;
  font-size: 19.44px;
  color: #f1f1f1;
  font-weight: 100;
}

body main .main-down .cart-table .table-bottom {
  height: 55.5px;
  background-color: #54594d;
  padding: 30px 2.5%;
}

body main .main-down .cart-table tr::after {
  content: "";
  width: 68%;
  height: 1.5px;
  background-color: #929292;
  position: absolute;
  bottom: 30px;
  left: 16%;
}

body main .main-down .cart-table .cart-products {
  height: 130px;
  position: relative;
}

body main .main-down .cart-count {
  height: 244px;
  font-size: 13.8px;
  color: #181818;
  background-color: #fffbef;
  padding: 28px 38px;
}

body main .main-down .cart-count .count-up {
  width: 326px;
  margin-bottom: 10px;
}

body main .main-down .cart-count .count-down {
  width: 326px;
  margin-bottom: 10px;
}

body main .main-down .cart-count .count-up::after {
  content: " ";
  width: 326px;
  height: 1px;
  background-color: #929292;
  position: absolute;
  right: 18%;
}

body main .main-down .back-btn {
  border: #54594d 1px solid;
}

body main .main-down .next-btn {
  background-color: #54594d;
  color: #f1f1f1;
}
/*# sourceMappingURL=cart-template.css.map */