@import "../../CSSstyle/variable";

body {
    .cart-form {
        background-color: $bgc-white;
        font-size: $h4;
        border-radius: 8px;

        .form-head {
            height: 90px;
            background-color: $green-d;
            font-size: $h4;
            color: $gray-xxs;
            border-radius: 8px 8px 0px 0px;
        }

        .cart-table {
            color: $bgc-white;

            .table-head {
                height: 70px;
                font-size: $h5;
                background-color: $bgc-white;
                border-bottom: $gray-xs;
                border-bottom: solid;
                border-width: 2px;
            }
        }

        tbody {
            .cart-products {
                height: 130px;
                position: relative;
            }
            .cart-img {
                width: 120px;
                height: 72px;
            }

            tr::after {
                content: "";
                width: 65%;
                height: 2px;
                background-color: $gray-xs;
                position: absolute;
                bottom: 9%;
                left: 17.5%;
            }
        }
        .info-area {
            padding: 25px 48px;
            .info {
                padding: 16px 34px;
            }
        }
    }
}
