* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif TC", serif;
}

body {
    //以下是格式初始化
    a {
        color: unset;
    }
    a:hover {
        color: unset;
        text-decoration: unset;
    }
    a:visited {
        color: unset;
    }
    h1 {
        font-family: "Noto Serif JP", serif;
        font-family: "Noto Serif TC", serif;
        font-weight: 700;
        font-size: 80px;
    }
    ul,
    ol {
        list-style: none;
        margin: 0%;
    }
    p {
        font-size: 18px;
        margin: 0%;
    }

    //預設內容會用到的色塊顏色
    .bgc-gray {
        background-color: #f4f3ef;
    }
    .bgc-yellow {
        background-color: #e6e3e0;
    }
    .bgc-gray-2 {
        background-color: rgb(244, 243, 239);
    }

    //以下nav內容

    nav {
        font-size: 16px;
        letter-spacing: 2px;

        height: 108px;
        width: 100%;
        position: fixed;
        transition: 0.4s ease-in-out;
        top: 0;
        .logo {
            position: absolute;
            left: 30px;
            top: 16px;
            width: 88px;
            height: 88px;
        }
        //這個是把nav藏起來用的 不要放東西在裡面
        .hide-up {
            top: -127px;
        }
        li {
            padding: 20px;
        }
    }

    main {
        min-height: calc(100vh - 108px);
        // position: absolute;
        // top: 108px;
        // left: 0;
        background-color: #f4f3ef;

        #news.contanier {
            margin: 108px;
            padding: 80px;
            .content-bg {
                background-color: #e6e3e0;
            }
            .left {
                height: 834px;
                background-color: rgb(255, 255, 255);
            }
            .card-group {
                position: relative;
            }
            .card {
                width: 325px;
                height: 274px;
            }
            .card::before {
                content: "";
                width: 3px;
                height: 230px;
                background-color: saddlebrown;
                position: absolute;
                top: 22px;
                left: 0px;
            }
            .card::after {
                content: "";
                width: 281px;
                height: 3px;
                background-color: saddlebrown;
                position: absolute;
                top: 0px;
                left: 22px;
            }
            .card-outline {
                width: 121px;
                height: 131px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .card-outline::before {
                content: "";
                width: 3px;
                height: 230px;
                background-color: saddlebrown;
                
            }
            .card-outline::after {
                content: "";
                width: 281px;
                height: 3px;
                background-color: saddlebrown;
                
            }

            .page-btn.page-link {
                color: saddlebrown;
            }
            .page-btn.page-item.active .page-link {
                background-color: saddlebrown;
                border-color: saddlebrown;
            }
        }
        .contanier::after {
            content: "";
            width: 1487%;
            height: 150px;
            background-color: white;
        }
    }

    //以下footer
    footer {
        background-color: #000;

        height: 108px;
        width: 100%;

        span {
            color: #fff;
            font-family: times, serif;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}
