* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif TC", serif;
}

body {
    //以下是格式初始化

    a {
        color: unset;
    }
    a:hover {
        color: unset;
        text-decoration: unset;
    }
    a:visited {
        color: unset;
    }
    h1 {
        font-family: "Noto Serif JP", serif;
        font-family: "Noto Serif TC", serif;
        font-weight: 700;
        font-size: 150px;
    }
    ul,
    ol {
        list-style: none;
        margin: 0%;
    }
    p {
        font-size: 18px;
        margin: 0%;
    }
    //以下nav內容

    nav {
        font-size: 16px;
        letter-spacing: 2px;
        z-index: 100;
        height: 108px;
        width: 100%;
        position: fixed;
        transition: 0.4s ease-in-out;
        top: 0;
        .logo {
            position: absolute;
            left: 30px;
            top: 16px;
            width: 88px;
            height: 88px;
            .a {
                fill: #201512;
            }

            .b {
                fill: none;
                stroke: #201512;
                stroke-miterlimit: 10;
                stroke-width: 2px;
            }
        }
        //這個是把nav藏起來用的 不要放東西在裡面
        &.hide-up {
            top: -127px;
        }
        li {
            padding: 20px;
        }
        .icon-group {
            width: 80px;
            margin-left: 10px;
            font-size:35px;

        }
    }
    //回到最頂按鈕
    .top-btn {
        position: fixed;
        bottom: 65px;
        right: 128px;
        z-index: 20;
        font-size: 55px;
        color: #4d4d4d;
    }
    //main預設高度

    main {
        min-height: calc(100vh - 108px);
    }

    //以下footer
    footer {
        background-color: #000;

        height: 108px;
        width: 100%;

        span {
            color: #fff;
            font-family: times, serif;
            font-size: 16px;
            letter-spacing: 1px;
        }
        .footer-container{
            height: 100%;
        }
    }

    //預設內容會用到的色塊顏色
    .bgc-gray {
        background-color: #f4f3ef;
    }
    .bgc-yellow {
        background-color: #e6e3e0;
    }
    .bgc-yellow-2{
        background-color: #FFFBEF
    }
    .bgc-gray-2 {
        background-color: rgb(244, 243, 239);
    }
    @media(max-width:1500px){
        h1{
            font-size: 100px;
        }
    }
}
