* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body a {
  color: unset;
}

body a:hover {
  color: unset;
  text-decoration: unset;
}

body a:visited {
  color: unset;
}

body h1 {
  font-family: "Noto Serif JP", serif;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 150px;
}

@media (max-width: 1500px) {
  body h1 {
    font-size: 100px;
  }
}

@media (max-width: 576px) {
  body h1 {
    font-size: 80px;
  }
}

body ul,
body ol {
  list-style: none;
  margin: 0%;
}

body p {
  font-size: 18px;
  margin: 0%;
}

@media (max-width: 576px) {
  body p {
    font-size: 14px;
  }
}

body label {
  margin: 0;
}

body nav {
  font-size: 16px;
  letter-spacing: 2px;
  z-index: 100;
  height: 108px;
  width: 100%;
  position: fixed;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  top: 0;
}

@media (max-width: 576px) {
  body nav {
    height: 80px;
  }
}

body nav .logo {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 88px;
  height: 88px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body nav .logo .a {
  fill: #201512;
}

body nav .logo .b {
  fill: none;
  stroke: #201512;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

@media (max-width: 576px) {
  body nav .logo {
    height: 60px;
    width: 60px;
  }
}

body nav.hide-up {
  top: -127px;
}

body nav li {
  padding: 20px;
}

body nav .burger-icon {
  z-index: 150;
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 768px) {
  body nav .burger-icon {
    display: inline-block;
    cursor: pointer;
  }
  body nav .burger-icon .bar1,
  body nav .burger-icon .bar2,
  body nav .burger-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body nav .burger-icon.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  body nav .burger-icon.change .bar2 {
    opacity: 0;
  }
  body nav .burger-icon.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media (max-width: 768px) {
  body nav .nav-group {
    position: fixed;
    z-index: 120;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f4f3ef;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body nav .nav-group ul {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body nav .nav-group.show {
  right: 0;
  opacity: 1;
}

body nav .nav-group .icon-group {
  width: 120px;
  margin-left: 10px;
  font-size: 30px;
}

@media (max-width: 768px) {
  body nav .nav-group .icon-group {
    margin: 0;
  }
}

body .top-btn {
  position: fixed;
  bottom: 65px;
  right: 128px;
  z-index: 20;
  font-size: 55px;
  color: #4d4d4d;
}

@media (max-width: 576px) {
  body .top-btn {
    font-size: 35px;
    right: 48px;
    bottom: 46px;
  }
}

body main {
  min-height: calc(100vh - 108px);
}

body footer {
  background-color: #000;
  height: 108px;
  width: 100%;
}

@media (max-width: 576px) {
  body footer {
    height: 80px;
  }
}

body footer span {
  color: #fff;
  font-family: times, serif;
  font-size: 16px;
  letter-spacing: 1px;
}

@media (max-width: 576px) {
  body footer span {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  body footer span {
    font-size: 12px;
  }
}

body footer .footer-container {
  height: 100%;
}

body .bgc-gray {
  background-color: #f4f3ef;
}

body .bgc-yellow {
  background-color: #e6e3e0;
}

body .bgc-yellow-2 {
  background-color: #fffbef;
}

body .bgc-cart {
  background-color: #fffbf6;
}

body .bgc-gray-2 {
  background-color: #f4f3ef;
}

body .bgc-gray-3 {
  background-color: #54594d;
}
/*# sourceMappingURL=template.css.map */