
body{
    background-color: #F4F3EF ;
    main{
    
        .block-a{
            background-color: #E6E3E0;
            margin-top: 108px;
            .news{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10vh;
            }
            .news-type{
                width: 100%;
                height: 810px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                .type{
                    width: 105px;
                    font-size: 17px;
                    margin: 68px auto 0 auto;                
                }
                
                .type::before{
                    content:'';
                    display: inline-block; 
                    margin-right: 1.3125rem;               
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: #42210B solid 0.33rem;
                }
                .checked::before{
                    content:'';
                    display: inline-block; 
                    margin-right: 1.3125rem;               
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: #42210B;
                }
                
            }
            .swiper-container {
                height: 850px;
                .box{
                    
                    height: 395px;
                    background-color: yellow;
                }
            }
        }
    }
}   