
  //CSS樣式變數檔

  //mabile Size
  $h6: 12px;
  $h1: $h6 * 4.5;
  $h2: $h6 * 3.75; 
  $h3: $h6 * 2.25; 
  $h4: $h6 * 1.62; 
  $h5: $h6 * 1.15;
 
  $line-hight: 10.75px;
  $title-size: 10.75px;
  $font-family: "Noto Serif JP", "Noto Serif TC";

  //pad Size
  @media (min-width: 768px) {
    $h6: 14px;
    $title-size: 14px;
    }
  
  //Table Size
  @media (min-width: 992px) {  
      $h6: 16px;
      $h1: $h6 * 4.5;
    $h2: $h6 * 3.75; 
    $h3: $h6 * 2.25; 
    $h4: $h6 * 1.62; 
    $h5: $h6 * 1.15;
      $title-size: 16px;
      $line-hight: 16px;
      $font-family: "Noto Serif JP", "Noto Serif TC";

    }

 //預設內容會用到的顏色
  //bgc = 背景色塊
  //-l = 淺色, -d = 深色
  $bgc-white: #fffbef;
  $bgc-gray-l: #f4f3ef; 
  $bgc-gray-d: #e6e3e0;

  $green: #86a697;
  $brown: #42210b;
  $green-l: #54594d8f;
  $green-d: #54594d;

//灰色排序 淺色~深色
  $gray-xxs: #f1f1f1;
  $gray-xs: #e5e5e5;
  $gray-s: #929292;
  $gray: #666666;
  $gray-l: #4d4d4d;
  $gray-xl: #333333;
  $gray-xxl: #181818;

  //所有的字體初始設定
  %font-root{
    margin: 0;
    font-family: $font-family;
    color: $gray-xxl
  }
  
  h1, h2, h3, h4, h5, h6, title-h1, title-h2{
  @extend %font-root;
  }
  
  //大大大標題
  $title-h1: $title-size * 12.5;
  $title-h2: $title-size * 9.3;
  
  title-h1{
    line-height: $line-hight * 12.5;
  }
  title-h2{
    line-height: $line-hight * 9.3;
  }

 
