body{
    
    main.move-down{
        margin-top: 108px;
        .block-a{
            width: 100vw;
            height: calc(100vh - 108px);
            .title-frame{
                padding-top: 115px;
                padding-right: 30px;
                .title{
                    width: 520px;
                    height: 420px;                
                    // background-color: yellow;
                    .title-text{
                        font-size: 150px;
                        font-weight: bolder;
                    }
                    .text{
                        font-size: 26px;
                    }            
                }
            }
            .img-a{
                width: 100%;
                height: 712px;
                background-image: url('/img/frontpage/aboutUs/img-a.jpg');
                background-position: center;
                background-size: cover;
            }
            .back-group{
                z-index: -1;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                .white-div{
                    width: 100%;
                    height: 432px;
                    background-color: white;
                }
                .gray-div{
                    width: 100%;
                    height: 648px;
                    background-color: #E6E3E0;
                }
            }
        }
        .block-b{
            .img-b{
                width: 100vw;
                height: 100vh;
                background-image: url('/img/frontpage/aboutUs/img-b.jpg');
                background-size: cover;
                background-position: center;
                .content{
                    padding-top: 653px;
                    padding-right: 35px;
                    color: white;
                    font-size: 26px;
                    text-align: center;
                }
            }
        }
        .block-c{
            width: 100vw;
            height: 100vh;
            margin-bottom: 120px;
            position: relative;
            .img-frame{                
                padding-top: 190px;
                .img-c{
                    width: 810px;
                    height: 827px;
                    background-image: url('/img/frontpage/aboutUs/img-c.jpg');
                    background-position: center;
                    background-size: cover;                    
                }
            }
            .title-frame{                
                padding-top: 450px;
                padding-right: 132px;
                padding-left: 125px;
                .title{
                    font-size: 150px;
                    font-weight: bolder;
                }
                .content{
                    font-size: 26px;                
                }
            }
            .back-group{
                width: 100%;
                height: 555px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                .gray-div{
                    width: 100%;
                    height: 100%;
                    background-color: #E6E3E0;
                    position: relative;
                }
                .white-div{
                    position: absolute;
                    top: 70px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 486px 100vw;
                    border-color: transparent transparent #ffffff transparent;
                }
            }
        }
        .block-d{
            width: 100vw;
            height: 100vh;
            position: relative;
            .img-d{
                width: 1085px;
                height: 730px;
                background-image: url('/img/frontpage/aboutUs/img-d.jpg');
                background-position: center;
                background-size: cover;
            }
            .content{
                margin-top: 109px;
                font-size: 26px;
                text-align: center;
            }
           .back-group{
               position: absolute;
               top: 0;
               left: 0;
               z-index: -1;
               width: 100%;
               height: 100%;
               background-color: #E6E3E0;
               clip-path: polygon(0 67.6%, 100% 17%, 100% 100%, 0% 100%);
           }
        }
    }
}
