body main.move-down {
  margin-top: 108px;
}

body main.move-down .block-a {
  width: 100%;
  height: calc(100vh - 108px);
}

body main.move-down .block-a .title-frame {
  padding-top: 115px;
  padding-right: 30px;
}

body main.move-down .block-a .title-frame .title {
  width: 520px;
  height: 420px;
}

body main.move-down .block-a .title-frame .title .title-text {
  font-size: 150px;
  font-weight: bolder;
}

@media (max-width: 576px) {
  body main.move-down .block-a .title-frame .title .title-text {
    font-size: 50px;
  }
}

body main.move-down .block-a .title-frame .title .text {
  font-size: 1.625rem;
}

body main.move-down .block-a .img-a {
  background-image: url("/img/frontpage/aboutUs/img-a.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 66.72%;
}

body main.move-down .block-a .back-group {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

body main.move-down .block-a .back-group .white-div {
  width: 100%;
  height: 432px;
  background-color: white;
}

body main.move-down .block-a .back-group .gray-div {
  width: 100%;
  height: 648px;
  background-color: #E6E3E0;
}

body main.move-down .block-b {
  width: 100%;
  height: 100vh;
}

body main.move-down .block-b .img-b {
  width: 100%;
  height: 100vh;
  background-image: url("/img/frontpage/aboutUs/img-b.jpg");
  background-size: cover;
  background-position: center;
}

body main.move-down .block-b .img-b .content {
  padding-top: 653px;
  padding-right: 35px;
  color: white;
  font-size: 1.625rem;
  text-align: center;
}

body main.move-down .block-c {
  width: 100%;
  height: 100vh;
  position: relative;
}

body main.move-down .block-c .img-frame {
  padding-top: 190px;
}

body main.move-down .block-c .img-frame .img-c {
  width: 810px;
  height: 827px;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
}

body main.move-down .block-c .title-frame {
  padding-top: 450px;
  padding-right: 132px;
  padding-left: 125px;
}

body main.move-down .block-c .title-frame .title {
  font-size: 8.78vw;
  font-weight: bolder;
}

body main.move-down .block-c .title-frame .content {
  font-size: 1.625rem;
}

body main.move-down .block-c .back-group {
  width: 100%;
  height: 555px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body main.move-down .block-c .back-group .gray-div {
  width: 100%;
  height: 100%;
  background-color: #E6E3E0;
  position: relative;
}

body main.move-down .block-c .back-group .gray-div .white-div {
  width: 100%;
  height: 486px;
  position: absolute;
  top: 69px;
  left: 0;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

body main.move-down .block-d {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
  position: relative;
}

body main.move-down .block-d .img-d {
  width: 1085px;
  height: 730px;
  background-image: url("/img/frontpage/aboutUs/img-d.jpg");
  background-position: center;
  background-size: cover;
}

body main.move-down .block-d .content {
  font-size: 1.625rem;
  text-align: center;
}

body main.move-down .block-d .back-group {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #E6E3E0;
  -webkit-clip-path: polygon(0 67.6%, 100% 17%, 100% 100%, 0% 100%);
          clip-path: polygon(0 67.6%, 100% 17%, 100% 100%, 0% 100%);
}
/*# sourceMappingURL=aboutUs.css.map */