body {
    //可直接調img外型 防img變形參數
    img {
        display: block;
        object-position: center;
        object-fit: cover;
    }
    &.loading-animate {
        height: 100vh;
        overflow-y: hidden;
    }
    .loading {
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 500;
        position: fixed;
        top: 0%;
        transition: .8s;
        &.hidden {
           opacity: 0;
        }
        .logo {
            height: 439px;
            width: 625px;
            position: relative;
            left: 105px;
            top: 50%;
            transform: translate(0, -50%);
            .path {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: dash 4s ease-in-out;
            }

            @keyframes dash {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .a{
                animation: fade-in 4s;
            }
            @keyframes fade-in{
                0%{
                    opacity: 0;
                }
                40%{
                    opacity: 0;
                }
            }
        }
    }

    nav {
        &.front-nav {
            background-color: transparent;
            .logo {
                left: -100px;
            }
        }
    }
    
    .banner {
        height: 100vh;
        width: 100%;
        background-image: url(/img/frontpage/index/frontpage-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .logo {
            height: 439px;
            width: 625px;
            position: relative;
            left: 105px;
            top: 50%;
            transform: translate(0, -50%);
            .a {
                fill: white;
            }

            .b {
                fill: none;
                stroke: white;
                stroke-miterlimit: 10;
                stroke-width: 2px;
            }
        }
    }
    main {
        .arrow {
            font-size: 40px;
        }
        .text-area {
            max-width: 517px;
        }
        .store-title {
            transform-origin: bottom left;
            transform: rotate(90deg);
            position: absolute;
            top: 0;
            left: 5%;
            z-index: 10;
        }
        .address {
            p {
                font-size: 24px;
            }
        }
    }
}
