body {
    //可直接調img外型 防img變形參數
    img {
        display: block;
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &.loading-animate {
        height: 100vh;
        overflow-y: hidden;
    }
    .loading {
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 500;
        position: fixed;
        top: 0%;
        transition: 0.8s;
        &.hidden {
            opacity: 0;
        }
        &.display-none {
            display: none;
        }
        .logo {
            width: 60%;
            max-width: 625px;
            position: relative;
            left: 105px;
            top: 50%;
            transform: translate(0, -50%);
            @media (max-width: 576px) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .path {
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: dash 3s ease-in-out;
            }

            //開場logo動畫
            @keyframes dash {
                to {
                    stroke-dashoffset: 0;
                }
            }
            .a {
                animation: fade-in 3s;
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
            }
        }
    }

    nav {
        //用於改變首頁的nav顏色（下拉超過banner時有固定顏色）
        &.front-nav {
            background-color: transparent;
            .logo {
                left: -100px;
            }
        }
    }

    .banner {
        height: 100vh;
        width: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        #scene {
            overflow: hidden;
            margin: auto;
            div {
                width: 100%;
                height: 100vh;
            }
        }
        .logo {
            width: 60%;
            max-width: 625px;
            position: absolute;
            left: 105px;
            top: 50%;
            transform: translate(0, -50%);
            @media (max-width: 576px) {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            //banner 的 logo 顏色
            .a {
                fill: white;
            }

            .b {
                fill: none;
                stroke: white;
                stroke-miterlimit: 10;
                stroke-width: 2px;
            }
        }
    }
    main {
        .arrow {
            font-size: 40px;
        }
        .text-area {
            max-width: 517px;
        }

        section {
            z-index: -10;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .section-about {
            .cherry {
                position: absolute;
                bottom: 0%;
                right: 10px;
                width: 30%;
                z-index: -1;
                img {
                    display: block;
                    object-position: center;
                    object-fit: unset;

                    height: unset;
                }
                @media (max-width: 992px) {
                    display: none;
                }
            }
            .container-about {
                padding: 10vh 0;
                @media (max-width: 992px) {
                    padding: 0%;
                }
                .about-img {
                    height: 80vh;
                    @media (max-width: 992px) {
                        height: 60vh;
                    }
                }
                .content {
                    @media (max-width: 992px) {
                        height: 40vh;
                    }
                }
            }
            .about-bg-block {
                width: 85%;
                height: 30%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: -5;
            }
        }
        .section-news {
            .news-cherry {
                display: none;
                img {
                    display: block;
                    object-position: center;
                    object-fit: unset;
                    height: unset;
                }
                @media (max-width: 992px) {
                    display: block;
                    position: absolute;
                    bottom: 70vh;
                    right: 10px;
                    width: 30%;
                    z-index: -1;
                }

                @media (max-width: 576px) {
                    width: 40%;
                }
            }
            .container-news {
                padding: 10vh 0;
                @media (max-width: 992px) {
                    padding: 0 0 10vh 0;
                }
            }
            .text-area-news {
                position: absolute;
                top: 50%;
                left: 35%;
                transform: translate(0, -50%);
                z-index: 5;
                @media (max-width: 992px) {
                    position: static;
                    top: unset;
                    left: 25%;
                    width: 80%;
                    transform: unset;
                    height: 40vh;
                }
            }
            .news-img {
                height: 100vh;
                @media (max-width: 992px) {
                    height: 60vh;
                }
            }
            .news-bg-block {
                width: 85%;
                height: 80%;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: -5;
                @media (max-width: 992px) {
                    width: 80%;
                    height: 20%;
                    top: 0;
                    right: 0;
                    left: unset;
                    transform: translate(0, 0);
                }
            }
        }
        .section-product {
            overflow-x: hidden;
            .product-title {
                @media (max-width: 992px) {
                    height: 40vh;
                }
            }
            .container-product {
                padding: 10vh 0;
                margin: 0 -20px;
                width: calc(100% + 40px);
                @media (max-width: 992px) {
                    padding: 0;
                }
                .product-img {
                    padding: 0 20px;
                    &:nth-child(2n) {
                        margin-top: -93px;
                    }
                    @media (max-width: 992px) {
                        &:nth-child(2) {
                            margin-top: 0;
                            height: 60vh;
                        }

                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
        .section-store {
            .container-store {
                padding: 0;

                .store-bg-white {
                    width: 20%;
                    height: 60%;
                    background-color: white;
                    position: absolute;
                    bottom: 5vh;
                    left: 10%;
                    z-index: 8;
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
                .store-bg-yellow {
                    height: 10vh;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
                .store-bg-yellow-2 {
                    height: 50%;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    display: none;
                    @media (max-width: 992px) {
                        display: block;
                    }
                }

                .store-title {
                    transform: rotate(90deg);
                    transform-origin: bottom left;
                    position: absolute;
                    top: 0;
                    left: 5%;
                    z-index: 10;
                    white-space: nowrap;
                    @media (max-width: 992px) {
                        transform: none;
                        position: relative;
                        top: unset;
                        left: unset;
                        z-index: 10;
                        padding: 50px 0;
                    }
                }

                .store-img {
                    z-index: 5;
                    .img-area {
                        height: 90vh;
                        @media (max-width: 992px) {
                            height: 50vh;
                        }
                    }
                }
                .address {
                    z-index: 10;
                    padding: 10vh 5%;
                    @media (max-width: 576px) {
                        padding: 5vh 5%;
                    }

                    p {
                        font-size: 24px;
                        @media (max-width: 576px) {
                            font-size: 14px;
                        }
                    }
                }
                .logo {
                    width: 80%;
                    position: absolute;
                    bottom: 10vh;
                    right: 5%;
                    z-index: 50;
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
        }
    }
}
