body img {
  display: block;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body main {
  padding-top: 108px;
}

body main .top-gray-block {
  height: 280px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  body main .top-gray-block {
    height: 200px;
  }
}

body main .top-white-block {
  height: 100px;
  width: 80%;
  background-color: white;
  z-index: 3;
  position: absolute;
  top: 180px;
  left: 0;
}

@media (max-width: 992px) {
  body main .top-white-block {
    height: 40px;
    top: 160px;
  }
}

body main .product-area {
  padding: 100px 2.5% 0;
}

@media (max-width: 992px) {
  body main .product-area .type-area {
    height: 80px;
  }
}

@media (max-width: 992px) {
  body main .product-area {
    padding: 0%;
  }
}

body main .product-area h1 {
  margin-bottom: 10vh;
}

@media (max-width: 992px) {
  body main .product-area h1 {
    margin: 0%;
  }
}

@media (max-width: 768px) {
  body main .product-area h1 {
    font-size: 80px;
  }
}

body main .product-area .product-type {
  position: absolute;
  top: 100px;
  left: 5%;
  font-size: 17px;
  line-height: 35px;
}

@media (max-width: 992px) {
  body main .product-area .product-type {
    width: 300px;
    margin: auto;
    position: static;
    top: unset;
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body main .product-area .product-type ul {
  padding: 0;
  position: relative;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn {
    font-size: 14px;
  }
}

body main .product-area .product-type ul .type-btn::before {
  content: "";
  display: inline-block;
  margin-right: 1.3125rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: #42210b solid 0.33rem;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn::before {
    margin-right: 0;
    display: none;
  }
}

body main .product-area .product-type ul .type-btn.checked::before {
  content: "";
  display: inline-block;
  margin-right: 1.3125rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #42210b;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn.checked::before {
    display: none;
  }
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn.checked > span {
    border-bottom: 2px solid #42210b;
  }
}

body main .product-area .product-type ul .type-btn ul {
  padding-left: 2rem;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn ul {
    padding: 0%;
  }
}

body main .product-area .product-type ul .type-btn .item-btn.hide {
  display: none;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn .item-btn > li {
    margin: 4px 8px;
    line-height: 18px;
  }
}

body main .product-area .product-type ul .type-btn .item-btn > li::before {
  content: "";
  display: inline-block;
  margin-right: 1.3125rem;
  width: 10px;
  height: 4px;
  border-radius: 50%;
  background-color: #42210b;
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn .item-btn > li::before {
    display: none;
  }
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn .item-btn > li.checked {
    border-bottom: 2px solid #42210b;
  }
}

@media (max-width: 992px) {
  body main .product-area .product-type ul .type-btn .item-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 50;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: white;
    border-radius: 10px;
  }
}

body main .product-area .product-list-area {
  max-height: 80vh;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body main .product-area .product-list-area::-webkit-scrollbar {
  width: 10px;
}

body main .product-area .product-list-area::-webkit-scrollbar-track {
  background: transparent;
}

body main .product-area .product-list-area::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

body main .product-area .product-list-area::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body main .product-area .product-list-area .product-container {
  width: calc(100% / 3);
}

@media (max-width: 768px) {
  body main .product-area .product-list-area .product-container {
    width: 50%;
    font-size: 12px;
  }
}

@media (max-width: 768px) and (max-width: 500px) {
  body main .product-area .product-list-area .product-container {
    width: 100%;
    font-size: 12px;
  }
}

body main .product-area .product-list-area .product-container .img-container {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
}

body main .product-area .product-list-area .product-container .img-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=product.css.map */