main {
  width: 100%;
}

main.move-down {
  margin-top: 108px;
}

@media (max-width: 768px) {
  main.move-down {
    margin-top: 80px;
  }
}

main .block-a {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  main .block-a {
    display: block;
  }
}

main .block-a .img {
  width: 55.57%;
  height: 37vw;
  background-image: url("/img/frontpage/aboutUs/img-a.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 219px;
}

@media (max-width: 768px) {
  main .block-a .img {
    width: 100%;
    height: 74.52vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
}

main .block-a .text-frame {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 44.43%;
}

@media (max-width: 768px) {
  main .block-a .text-frame {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

main .block-a .text-frame .about {
  font-size: 200px;
  line-height: 200px;
  padding-top: 119px;
  padding-left: 184px;
}

@media (max-width: 768px) {
  main .block-a .text-frame .about {
    padding-top: 12vw;
    padding-left: 8.68vw;
    font-size: 100px;
    padding-top: 0;
    padding-right: 0;
  }
}

main .block-a .text-frame .content {
  width: 100%;
}

main .block-a .text-frame .content .us {
  font-size: 200px;
  line-height: 200px;
  padding-left: 184px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  main .block-a .text-frame .content .us {
    padding-left: 8.68vw;
    font-size: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: normal;
    margin-bottom: 0;
  }
}

main .block-a .text-frame .content .text {
  font-size: 26px;
  padding-left: 184px;
  padding-right: 51px;
}

@media (max-width: 768px) {
  main .block-a .text-frame .content .text {
    padding-top: 4.16vw;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }
}

main .block-a .mask {
  width: 100%;
  height: 64.08vw;
  position: absolute;
  top: 74.52vw;
  left: 0;
  z-index: -1;
}

main .block-a .mask .white {
  height: 50%;
  background-color: #F4F3EF;
}

main .block-a .mask .gray {
  height: 50%;
  background-color: #E6E3E0;
}

main .block-b {
  width: 100%;
}

main .block-b .img {
  width: 100%;
  height: 73vw;
  background-image: url("/img/frontpage/aboutUs/img-b.jpg");
  background-position: center;
  background-size: cover;
}

main .block-b .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6.95vw;
  position: relative;
}

main .block-b .content .title {
  width: 60%;
  height: 27vw;
}

main .block-b .content .mask {
  width: 100%;
  height: 63.4vw;
  z-index: -1;
  background-color: #E6E3E0;
  position: absolute;
  top: 0;
  left: 0;
}

main .block-b .content .mask .triangle {
  width: 97.4vw;
  height: 320px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #F4F3EF;
}

main .block-c {
  width: 100%;
  height: 759px;
}

main .block-c .title-frame {
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .block-c .title-frame .title {
  font-size: 100px;
}

main .block-c .img {
  width: 100%;
  height: 73.26vw;
  background-image: url("/img/frontpage/aboutUs/img-c.jpg");
  background-position: center;
  background-size: cover;
}

main .block-c .content {
  width: 100%;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  position: relative;
}

main .block-c .content .text {
  width: 400px;
  font-size: 14px;
  text-align: end;
}

main .block-c .content .mask {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #F4F3EF;
  position: absolute;
  top: 0;
  left: 0;
}

main .block-c .content .mask .triangle {
  width: 246px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background-color: #E6E3E0;
}

main .block-d {
  width: 100%;
}

main .block-d .img {
  width: 100%;
  height: 66.84vw;
  background-image: url("/img/frontpage/aboutUs/img-d.jpg");
  background-position: center;
  background-size: cover;
}

main .block-d .text-frame {
  width: 100%;
  height: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E3E0;
}

main .block-d .text-frame .text {
  width: 445px;
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=aboutUs.css.map */