main{
    width: 100%;
    &.move-down{
        margin-top: 108px;
        @media (max-width:768px) {
            margin-top: 80px;
        }
    }
    .block-a{
        width: 100%;
        // height: 931px;
        position: relative;
        display: flex;
        @media (max-width:768px) {
            display: block;
        }
        .img{
            width: 55.57%;
            height: 37vw;
            background-image: url('/img/frontpage/aboutUs/img-a.jpg');
            background-position: center;
            background-size: cover;
            order: 2;
            margin-bottom: 280px;
            @media (max-width:768px) {
                width: 100%;
                height: 74.52vw;
                order: 1;
                margin-bottom: 0;
            }
        }
        .text-frame{
            order: 1;
            width: 44.43%;
            @media (max-width:768px) {
                width: 100%;
                order: 2;
            }
            .about{
                font-size: 10.416vw;
                line-height: 10.416vw;
                padding-top: 6.197vw;
                padding-left: 9.583vw;
                @media (max-width:768px) {
                    padding-top: 12vw;
                    padding-left: 8.68vw;
                    font-size: 100px;
                    padding-top: 0;
                    padding-right: 0;
                    line-height: normal;
                }
            }
            .content{
                width: 100%;
                .us{
                    font-size: 10.416vw;
                    line-height: 10.416vw;;
                    padding-left: 9.583vw;
                    margin-bottom: 4.166vw;
                    @media (max-width:768px) {
                        padding-left: 8.68vw;
                        font-size: 100px;
                        line-height: normal;
                        display: flex;
                        align-items: flex-start;
                        line-height: normal;
                        margin-bottom: 0;
                        
                    }
                }
                .text{ 
                    font-size: 26px;
                    padding-left: 184px;
                    padding-right: 51px;
                    @media (max-width:768px) {
                        padding-top: 4.16vw;
                        font-size: 14px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                
            }
            
        }
        .mask{
            width: 100%;
            height: 64.08vw;
            position: absolute;
            top: 74.52vw;
            left: 0;
            z-index: -1;
            .white{
                height: 50%;
                background-color: #F4F3EF;
            }
            .gray{
                height: 50%;
                background-color: #E6E3E0;
            }
        }    
    }
    .block-b{
        width: 100%;
        // height: 587px;
        .img{
            width: 100%;
            height: 100vh;
            background-image: url('/img/frontpage/aboutUs/img-b.jpg');
            background-position: center;
            background-size: cover;
            @media (max-width:768px) {
                width: 100%;
                height: 73vw;
            }
        }
        .content{
            width: 25%;
            display: flex;
            justify-content: center;
            padding-top: 6.95vw;
            position: relative;
            @media (max-width:768px) {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 6.95vw;
                position: relative;
            }
            
            .title{
                width: 60%;
                height: 27vw;
            }
            .mask{
                width: 100%;
                height: 63.4vw;
                z-index: -1;
                background-color: #E6E3E0;                    
                position: absolute;
                top: 0;
                left: 0;                
                .triangle{
                    width: 97.4vw;
                    height: 320px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    clip-path: polygon(100% 0, 0 100%, 100% 100%);
                    background-color: #F4F3EF;
                }
            } 
        }
         
    }
    .block-c{
        width: 100%;
        height: 759px;
        .title-frame{
            width: 100%;
            height: 170px;
            display: flex;
            justify-content: center;
            .title{
                font-size: 100px;
            }
        }
        .img{
            width: 100%;
            height: 73.26vw;
            background-image: url('/img/frontpage/aboutUs/img-c.jpg');
            background-position: center;
            background-size: cover;
        }
        .content{
            width: 100%;
            height: 168px;
            display: flex;
            justify-content: center;
            padding-top: 50px;
            position: relative;
            .text{
                width: 400px;
                font-size: 14px;
                text-align: end;
            }
            .mask{
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: #F4F3EF;                    
                position: absolute;
                top: 0;
                left: 0;                
                .triangle{
                    width: 246px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    clip-path: polygon(100% 0, 0 100%, 100% 100%);
                    background-color: #E6E3E0;
                }
            }
        }
    }
    .block-d{
        width: 100%;
        .img{
            width: 100%;
            height: 66.84vw;
            background-image: url('/img/frontpage/aboutUs/img-d.jpg');
            background-position: center;
            background-size: cover;
        }
        .text-frame{
            width: 100%;
            height: 164px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E6E3E0;
            .text{
                width: 445px;
                font-size: 14px;
                text-align: center;
            }
        }
    }

}